<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2>Reserve your spot!</h2>
    <%= bootstrap_form_for @customer do |form| %>
    <div class="row">
      <div class="form-group col-lg-6">
        <%= form.text_field :first_name, label: "First Name" %></br>
        <%= form.text_field :last_name, label: "Last Name" %></br>
    </div>
    </div>
      <div class="row">
      <div class="form-group col-lg-6">
        <%= form.text_field :make, label: "Make of Vehicle"%></br>
        <%= form.text_field :model, label: "Model of Vehicle" %></br>
        <%= form.hidden_field :id, :value => current_user.id %>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-lg-6">
      <%= form.submit %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Why we need this information...</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
