<h1>Form Page for Vendor</h1>
<h2><%=current_user.id%></h2>

<%= form_for @vendor do |form| %>
  First Name: <%= form.text_field :first_name %></br>
  Last Name: <%= form.text_field :last_name %></br>
  <%= form.submit %>
<% end %>
