<h1>Form for spots</h1>

<%= form_for [@vendor, @spot] do |form| %>
  Address: <%= form.text_field :address %></br>
  Zipcode: <%= form.number_field :zipcode %></br>
  Price: <%= form.number_field :price %></br>
  Description: <%= form.text_field :description %></br>
  Upload your spot: <%= form.file_field :image %></br>
  <%= form.hidden_field :available, :value => true %></br>
  <%= form.submit %>
<% end %>
