<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&callback=initMap"
async defer>
</script>

<p>
  <%= @spots.address%>
  <%= @spots.zipcode %>
  <%= @spots.price %>
  <%= @spots.description %>
</p>

<%= form_for [@customer, @spots] do |form| %>
<%= form.hidden_field :available, :value => false %></br>
<%= form.submit %>
<% end %>
