<p>
  <%= @spots.address%>
  <%= @spots.zipcode %>
  <%= @spots.price %>
  <%= @spots.description %>
</p>
<img src="<%= @spots.image %>" alt="" />

<%= current_user.id %>

<%= form_for [@customer, @spots], url: customer_spot_path do |form| %>
<%= form.hidden_field :available, :value => false %></br>
<%= form.hidden_field :customer_id, :value => current_user.id %></br>
<%= form.submit %>
<% end %>
