<h1>Form Page</h1>
<h2><%=current_user.id%></h2>

<%= form_for @vendor do |form| %>
  Address: <%= form.text_field :address %></br>
  Dates: <%= form.text_field :dates %></br>
  Price: <%= form.text_field :price %></br>
  Description: <%= form.text_field :description %></br>
  <%= form.submit %>
<% end %>
